@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  line-height: 1.7;
  scroll-behavior: smooth;
}

:root {
  --bg-color: brown;
  --second-bg-color: #040926;
  --text-color: #fff;
  --second-color: #ccc;
  --main-color: #ff4d05;
}

body {
  background: var(--second-bg-color);
  color: var(--text-color);
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--second-bg-color);
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid var(--main-color);
}

.logo {
  position: relative;
  font-size: 25px;
  color: var(--text-color);
  font-weight: bold;
}

/* NAV */
nav {
  display: flex;
  padding: 2% 6%;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--main-color);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: var(--main-color);
}

/* SECTION */
section {
  padding: 120px 15% 160px;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  text-align: center;
}

/* HOME */
.home {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 600;
}

.home-content h1 {
  font-family: cursive;
  font-size: 2.5rem;
  font-weight: 500;
  margin: -3px 0;
}

.home-content p {
  font-size: 15px;
}

.btn {
  border: 1px solid var(--main-color);
  padding: 10px 22px;
  color: white;
  border-radius: 20px;
  width: max-content;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  /* color: #ccc; */
}

.btn:hover {
  background-color: white;
  color: var(--second-bg-color);
}

.btn-primary {
  background-color: var(--main-color);
}

/* ABOUT */

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-img img {
  max-width: 530px;
  height: auto;
  width: 100%;
  border-radius: 80px;
  border: 2px solid var(--main-color);
}

.about-text h2 {
  font-size: 40px;
  line-height: 1;
}

.about-text h2 span {
  color: var(--main-color);
}

.about-text h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.7;
  margin: 8px 0 15px;
}

.about-text p {
  line-height: 1.5;
  font-size: 1.1rem;
  color: var(--second-color);
  margin-bottom: 4rem;
}

span .highlight {
  color: var(--main-color);
}

/* PORTFOLIO */

.porfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 20px;
  margin-top: 5rem;
}

.main-text h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.7;
  color: var(--main-color);
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.row img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), #ff4d05);
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}

.layer h5 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}
.layer p {
  line-height: 1.8;
  font-size: 1rem;
  color: var(--text-color);
}

.layer i {
  color: var(--second-bg-color);
  margin-top: 20px;
  width: 60px;
  height: 60px;
  background: #ff4d05;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.row:hover img {
  transform: scale(1.1);
}

.row:hover .layer {
  height: 100%;
}

/* SKIILS */
.my-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 3rem;
}

.skills-set {
  color: var(--main-color);
}

.row1 {
  border: 1px solid var(--main-color);
  border-radius: 10px;
}

/* CONTACT */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-top: 130px;
}

.contact-text h2 {
  font-size: 24px;
  line-height: 1;
  text-align: center;
}

.contact-text h2 span {
  color: var(--main-color);
}

.contact-text p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}

.contact-lists {
  margin-bottom: 3rem;
}

.contact-lists li {
  margin-bottom: 10px;
  display: block;
}

.contact-lists i .fa-phone {
  display: inline-block;
  color: var(--main-color);
  font-size: 12px;
  font-weight: 600;
  transition: all 0.4os ease;
}

.contact-icons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: var(--second-bg-color);
  color: white;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  margin: 30px 15px 30px 0;
}
.contact-form {
  position: relative;
}

.contact-form form input,
form textarea {
  border: 1px solid var(--main-color);
  outline: none;
  width: 90%;
  padding: 18px;
  background: transparent;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 8px;
  border-radius: 8px;
  caret-color: #ff4d05;
  color: white;
}

.contact-form textarea {
  resize: none;
  height: 220px;
}

.contact-form .send {
  width: max-content;
  display: flex;
  background: var(--main-color);
  color: white;
  padding: 5px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-right: auto;
  margin: 0px 30px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.contact-form .send:hover {
  background: white;
  color: #040926;
}

/* FOOTER */
footer {
  border-top: 1px solid var(--main-color);
}

.main-footer h3 {
  justify-content: center;
  text-align: center;
}

nav .fa {
  display: none;
}

/* MEDIA QUERY */

@media screen and (max-width: 700px) {
  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: var(--main-color);
    width: 200px;
    height: 100vh;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 25px;
    margin: 10px;
  }

  .nav-links ul {
    padding: 30px;
  }

  .nav-links a:hover {
    color: #040926;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 10;
  }

  .contact-form .send {
    margin-right: auto;
    margin: 0 28px;
    margin-bottom: 8px;
  }
}

@media (max-width: 920px) {
  .about {
    grid-template-columns: 1fr;
  }

  .about-img {
    text-align: center;
    order: 2;
  }

  .about-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10%;
  }
}
